    html{
        height: 100%;
    }    
    body {
        margin: 0;
        background-color: #EFF2FB;
        min-height: 100%;
    }

    #square{
        position: absolute;
        width: 350px;
        height: 729px;
        left: -100;
        border-radius: 40px;
        background-color: #313442;
    }
    
    #hist-square {
        width: 1240px;
        height: 70%;
        background-color: #ffffff;
        position: relative;
        top: 200px;
        left: 270px;
        margin: 0;
        z-index: -2;
    }

    #top-square {
        width: 1535px;
        height: 100px;
        position: absolute;
        background-color: #ffffff;
        top: 0px;
        z-index: -2;
    }

    
    .avatar {
        position: absolute;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        left: 1200px;
        top: 20px;
        color: #313442;
        z-index: -1;
      }
    
    .Home{
        position: absolute;
        display: flex;
        gap: 15px;
        align-items: center;
        font-family: Poppins;
        background-color: #313442;
        top: 50px;
        border: none;
        left: 60px;
        color: #ffffff;
        font-size: 23px;
        cursor: pointer;
    }

  
    .Home:hover{
        color: #2D55B4;
    }

    .Todo{
        position: absolute;
        width: 114px;
        top: 120px;
        display: flex;
        gap: 15px;
        align-items: center;
        font-family: Poppins;
        background-color: #313442;
        border: none;
        color: #ffffff;
        left: 65px;
        font-size: 22px;
        cursor: pointer;
        
    }
    .Messages{
        position: absolute;
        width: 120px;
        top: 200px;
        left: 65px;
        display: flex;
        gap: 15px;
        align-items: center;
        font-family: Poppins;
        background-color: #313442;
        border: none;
        color: #ffffff;
        font-size: 22px;
        cursor: pointer;
    }
    .History{
        position: absolute;
        width: 85px;
        top: 280px;
        left: 65px;
        display: flex;
        gap: 15px;
        align-items: center;
        font-family: Poppins;
        background-color: #313442;
        border: none;
        color: #ffffff;
        font-size: 22px;
        cursor: pointer;
    }
    
    .Settings{
        position: absolute;
        width: 85px;
        bottom: 250px;
        left: 65px;
        display: flex;
        gap: 15px;
        align-items: center;
        font-family: Poppins;
        background-color: #313442;
        border: none;
        color: #ffffff;
        font-size: 22px;
        cursor: pointer;
    }
    .Logout{
        position: absolute;
        width: 85px;
        left: 65px;
        bottom: 170px;
        display: flex;
        gap: 15px;
        align-items: center;
        font-family: Poppins;
        background-color: #313442;
        border: none;
        color: #ffffff;
        font-size: 22px;
        cursor: pointer;
    }
    
    .hist{
        position: absolute;
        font-family: Poppins;
        font-size: 40px;
        left: 300px;
        top: 100px;
        color: #2D55B4;
    }
    table{
        width: 1200px;
        height: -1500px;
        position: absolute;
        font-family: Poppins;
        left: 290px;
        bottom: 465px;
        z-index: -1;
    }





